<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Manager</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Email</td>
                <td>Cargo</td>
                <td>Salário</td>
            </tr>
        </thead>
        <tbody>
        <% @funcionarios.each do |funcionario| %>
            <tr>
                <td><%= funcionario.nome %> </td>
                <td><%= funcionario.email %> </td>
                <td><%= funcionario.cargo %> </td>
                <td><%= funcionario.salario %> </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>